<div class="bg-image">
  <div class="header-text">
    <h2>Do you need a ride?</h2>
    <h5>
      PM&CO's taxis provide the epitome of safe and considerate riding experiences. Our commitment to safety ensures peace of mind, while our thoughtful service creates a journey tailored to your comfort. Experience the pinnacle of excellence with PM&CO's taxis.
    </h5>
  </div>
</div>

<section class="d-flex justify-content-center mt-4">
  <div class="desc-text">
    <h2>Why <span class="highlight">LOCATADS</span>?</h2>
    <p>desc</p>
  </div>

</section>
